body {
  margin: 0;
  font-family: "Century Gothic","Avenir Next","游ゴシック",YuGothic,"Hiragino Kaku Gothic ProN","メイリオ",Meiryo,Verdana,sans-serif;
  color: #333;
  background: linear-gradient(-135deg, rgb(255, 249, 192), rgb(150, 224, 255));
  width: 100%;
}

main {
  width: 80%;
  margin: 10px auto ;
}

#main {
  width: 100%;
  margin: 40px auto 0;
  cursor: pointer;
}

.sub {
  font-size: 12px;
  margin: 0 20px;
}

main > h1 {
  width: 100%;
  margin: 0 auto;
  padding: 5px 10px; 
  box-sizing: border-box;
  font-family: 'arial-black', Courier, monospace;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-size: 25px;
  line-height: 40px;
  font-weight: normal;
}

main > h1 > a {
  color: #333;
  text-decoration: none;
}

main > h1 > a:hover {
  opacity: 0.8;
}

.container {
  margin-top: 20px;
}

.container > ul {
  list-style: none;
  padding: 0;
  width: 90%;
  margin: 20px auto;
}

.container > ul > li {
  background: #fff;
  display: flex;
  padding: 10px;
  margin: 20px auto;
}

.disc > h1 {
  font-size: 16px;
  margin: 0;
  line-height: 18px;
}

.disc > p {
  font-size: 12px;
}

.date {
  font-size: 16px;
  color: #999;
  margin-right: 20px;
  line-height: 18px;
}

.name {
  width: 100%;
  margin: auto;
  color: #777;
  font-size: 13px;
  text-align: center;
  padding-top: 30px;
  margin-top: 100px;
}

@media(min-width:800px) {
  #main {
    margin: 180px auto 10px;
  }

  main > h1 {
    font-size: 40px;
    line-height: 100px;
    margin: 0 auto; 
  }

  .container > ul > li {
    background: #fff;
    display: block;
    padding: 10px;
    margin: 20px auto;
  }
  
  .disc > h1 {
    margin-top: 10px; 
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  
  .disc > p {
    font-size: 20px;
    line-height: 40px;
    width: 80%;
    margin: 10px auto 30px;
  }

  .date {
    font-size: 30px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    line-height: 40px;
  }

}